div h1.text-center.mb-sm-4.display-1 {
    font-weight: bold;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 30px;
}

div h1.display-4 {
    font-size: 20px;
}
h1.display-1 {
    font-size: 20px;
}

h2.text-center.mb-sm-4 {
    font-size: 20px;
    color: #696969;
}

p {
    text-align: justify;
    font-size: 15px;
}

p.lead {
    font-size: 18px;
}

p a {
    color: steelblue;
}

div#cont h2 {
    font-size: 20px;
    font-weight: bold;
    color: #556b2f;
}

a.nav-link:hover {
    font-weight: bold;
    text-decoration: underline;
}

nav {
    background-color: blue;
    /* color: blue; */
}

footer#foot {
    background-color: #a9a9a9;
   
}


li.nav-item  {
    color: #ffffff;
}

strong {
    font-weight: bold;
}

/* img {
    border-radius: 30px;
    box-shadow: 0 0 20px saddlebrown;
} */

img#img_1 {
    border-radius: 5px;
    box-shadow: 0 0 20px darkolivegreen;
}

img#img_2 {
    border-radius: 30px;
    box-shadow: 0 0 20px blue;
}

img#img_3 {
    border-radius: 30px;
    box-shadow: 0 0 20px brown;
}



/* Slideshow container */
/* .slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
  } */
  
  /* Fade animation for images */
  /* .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1s;
    animation-name: fade;
    animation-duration: 1s;
  } */
  
  /* Previous and next buttons */
  /* .prev, .next {
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
  } */
  
  /* Position the next button to the right */
  /* .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  } */
  
  /* On hover, add a black background color to the buttons */
  /* .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  } */
  
  /* Animation for fading images */
  /* @-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
   */
  /* @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
   */