@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/montserrat/Montserrat-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-size: 24px;
}

:root {
    --grad: linear-gradient(63deg, #262626 23%, transparent 23%) 7px 0,
        linear-gradient(63deg, transparent 73%, #262626 76%),
        linear-gradient(
            63deg,
            transparent 34%,
            #262626 38%,
            #262626 58%,
            transparent 62%
        ),
        #222;
    --hl1: #b50404;
    --hl2: #089df4;
    --fg1: #fff;
    --fg2: #e8e8e8;
    --fg3: #111111;
    --r1: #ad2486;
    --r2: #d78437;
    --r3: #f2bc09;
    --r4: #aaaf44;
    --r5: #5da183;
    --r6: #1d96b9;
    --r7: #1c61c2;
    --r8: #ee692c;
}

@supports (color: color(display-p3 0.55 0.19 0.71)) {
    :root {
        --hl1: color(display-p3 1 0 0.218);
        --hl2: color(display-p3 0 0.487 1);
        --r1: color(display-p3 0.685 0.008 0.805);
        --r2: color(display-p3 1 0.684 0);
        --r3: color(display-p3 1 0.902 0);
        --r4: color(display-p3 0.639 0.87 0.03);
        --r5: color(display-p3 0 0.935 0.63);
        --r6: color(display-p3 0 0.862 0.935);
        --r7: color(display-p3 0.005 0.428 1);
        --r8: color(display-p3 1 0.716 0.005);
    }
}



div h1.text-center.mb-sm-4.display-1 {
    font-weight: bold;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 30px;
}

div h1.display-4 {
    font-size: 20px;
}
h1.display-1 {
    font-size: 25px;
}

h2.text-center.mb-sm-4 {
    font-size: 20px;
    color: #696969;
}

h2.display-2 {
    font-size: 23px;
    color: #696969;
}

h2.display-3 {
    font-size: 20px;
    color: #696969;
}

h2#mont_bold {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

button#but  {
    border-radius: 50%;
    background-color: #f0f0f0;
    width: 10px;
    height: 10px;
  }

button#but1  {
    border-radius: 50%;
    background-color: darkblue;
    width: 10px;
    height: 10px;
  }
  

p {
    text-align: justify;
    font-size: 16px;
}


p a {
    color: steelblue;
}

/* p#mont {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 16px;
  } */
a.navbar-brand {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 24px;
    text-align: left;
}


h1#mont_bold {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

#my_globe {
    width: 100%;
    height: 100%;
    position: relative;
}

#gtext {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    /* width: 200px;
    height: 200px; 
    text-align: center; */
    z-index: 1;
}

#gtext h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 32px;
    color: white;
    z-index: 1;
}

#gtext p {
    font-size: 18px;
    color: white;
    z-index: 1;
}

#b-g {
    color: #aedff2;
}

#globe-canvas {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    max-width: 120%;
    max-height: 100%;
    margin: 0;
    display: block;
    z-index: -1;
}

canvas {
    max-width: 100% !important;
    object-fit: contain !important;
}

div#cont h2 {
    font-size: 20px;
    font-weight: bold;
    color: #556b2f;
}

div.alert.alert-warning.mb-3.mb-sm-5 {
    color: whitesmoke;
    background-color: black;
    /* padding: 0px 0px 16px 16px; */
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    text-align: center;
    border-style: groove;
}

div#globe_carousel {
    background-color: black;
    min-height: 500px;
    /* min-width: 300px; */
}

/* #carousel_itm, #our_world {
    flex-basis: 100%;
} */

#carousel_itm {
    /* max-height: 100%; */
    max-width: 40%
}

#our_world {
    max-width: 60%;
}

.border-bottom.fixed-top {
    position: relative;
}

/* .navbar-toggler {
    display: none;
} */

@media screen and (min-width: 0px) and (max-width: 320px) {
    div#globe_carousel {
        min-height: 500px;
        /* min-width: 500px */
    }

    #carousel_itm {
        display: none;
    }

     #our_world {
        max-width: 100%;
    }


    #globe-canvas {
        max-width: 50%;
        max-height: 50%;
        margin: 0;
        padding: 0;
    }

    /* canvas {
        max-width: 100% !important
    } */

    #gtext h1 {
        font-size: 22px;
    }

    #gtext p {
        font-size: 14px;
    }
    #alrt {
        font-size: 14px;
        padding: 0;
    }

    a.navbar-brand {
        font-family: 'Montserrat', sans-serif;
        font-weight: 600;
        font-size: 20px;
    }

    .navbar-toggler {
        position: absolute;
        right: 0;
        top: 0;
        margin-top: 8px;
        margin-right: 16px;
    }

    /* .navbar-toggler {
        display: block;
    }

    .navbar-nav {
        display: none;
    } */

    .nav-item {
        text-align: center !important;
        right: 0 !important;
    }
}


@media screen and (min-width: 321px) and (max-width: 991px) {

    div#globe_carousel {
        min-height: 500px;
        /* min-width: 500px; */
        /* background-color: white; */
    }

    #carousel_itm {
        display: none;
    }

     #our_world {
        max-width: 100%;
    }


    #globe-canvas {
        max-width: 50%;
        max-height: 50%;
    }

    /* canvas {
        max-width: 100% !important
    } */

    #gtext h1 {
        font-size: 24px;
        text-align: center;

    }

    #gtext p {
        font-size: 16px;
    }
    #alrt {
        font-size: 16px;
        padding: 0;
    }

    a.navbar-brand {
        font-family: 'Montserrat', sans-serif;
        font-weight: 600;
        font-size: 24px;
    }

    .navbar-toggler {
        position: absolute;
        right: 0;
        top: 0;
        margin-top: 8px;
        margin-right: 16px;
    }

    /* .navbar-toggler {
        display: block;
    }

    .navbar-nav {
        display: none;
    } */

    .nav-item {
        right: 0 !important;
        margin-right: 16px !important;
        text-align: center;
    }

}

h2.welcome-message {
    color: white;
    display: flex;
    align-items: center;
    min-height: 65px;
    padding: 0 15px;
    border-radius: 33px;
    border-width: 3px;
    border-color: #222;
    border-style: outset;
    --angle: 120deg;
    border-image: conic-gradient(
        from var(--angle),
        var(--r7),
        var(--r6),
        var(--r5),
        var(--r4),
        var(--r3),
        var(--r2),
        var(--r1),
        var(--r8)
    );
    border-image-slice: 1;
    border-image-repeat: stretch;
    transition: filter 0.3s;
    animation: borderRotate 3s linear infinite forwards;
    justify-content: center;
    height: clamp(300px, 100%, 300px);
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    /* background-color: #222; */
    /* padding: 10px; */
    /* padding: 0px 0px 0px 0px; */
    /* height: 20px; */
}


@keyframes borderRotate {
    100% {
        --angle:  800deg;
    }
}


a.nav-link:hover {
    font-weight: bold;
    text-decoration: underline;
}

nav {
    background-color: blue;    /* color: blue; */
}

footer#foot {
    background-color: #a9a9a9;
   
}


li.nav-item  {
    color: #ffffff;
}

strong {
    font-weight: bold;
}

/* img {
    border-radius: 30px;
    box-shadow: 0 0 20px saddlebrown;
} */

img#img_1 {
    border-radius: 5px;
    box-shadow: 0 0 20px darkolivegreen;
}

img#img_2 {
    border-radius: 30px;
    box-shadow: 0 0 20px blue;
}

img#img_3 {
    border-radius: 30px;
    box-shadow: 0 0 20px brown;
}



.carousel-item-dimensions {
  height:300px;
}


.carousel-item-dimension {
    height: 350px;
  }

  .carousel-item-dim {
    height: 250px;
  }

  figcaption i {
    color: #808080;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

  figure {
    margin: 0;
    padding: 0;
    border: none;
    text-align: center;
  }
  iframe#a {
    display: block;
    width: 100%;
    height: 100%;
  }
  
  figcaption {
    margin-top: 10px;
    font-style: italic;
    text-align: center;
  }

/* * {
	border: 0;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
} */

:root {
	--hue: 223;
	--bg: hsl(var(--hue),90%,95%);
	--fg: hsl(var(--hue),90%,5%);
	--trans-dur: 0.3s;
}


div.spinner-container {
    display: grid;
    transition: background-color var(--trans-dur);
    place-items: center;
    height: 100vh;
    color: var(--fg);
    background-color: var(--bg);
    /* z-index: 9999; */
}

/* main {
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
} */
/* div.spinner-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ffffff;
    z-index: 9999;
} */

.ip {
	width: 6em;
	height: 6em;
}

.ip__track {
	stroke: hsl(var(--hue),90%,90%);
	transition: stroke var(--trans-dur);
}

.ip__worm1,
.ip__worm2 {
	animation: worm1 2s linear infinite;
}

.ip__worm2 {
	animation-name: worm2;
}

@media(prefers-color-scheme: dark) {
    :root {
        --bg: hsl(var(--hue), 90%, 5%);
        --fg: hsl(var(--hue), 90%, 95%);
    }
    .ip_track {
        stroke: hsl(var(--hue), 90%, 15%);
    }
}

@keyframes worm1 {
    from {
        stroke-dashoffset: 0;
    }
    50% {
        animation-timing-function: steps(1);
        stroke-dashoffset: -358;
    }
    50.01% {
        animation-timing-function: linear;
        stroke-dashoffset: 358;
    }
    to {
        stroke-dashoffset: 0;
    }
}

@keyframes worm2 {
    from {
        stroke-dashoffset: 358;
    }
    50% {
        stroke-dashoffset: 0;
    }
	to {
		stroke-dashoffset: -358;
	}
}

