div h1.text-center.mb-sm-4.display-1 {
    font-weight: bold;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 30px;
}

div h1.display-4 {
    font-size: 20px;
}
h1.display-1 {
    font-size: 20px;
}

h2.text-center.mb-sm-4 {
    font-size: 20px;
    color: #696969;
}

p {
    text-align: justify;
    font-size: 15px;
}

div#cont h2 {
    font-size: 20px;
    font-weight: bold;
    color: #556b2f;
}

a.nav-link:hover {
    font-weight: bold;
    text-decoration: underline;
}

nav {
    background-color: blue;
    /* color: blue; */
}

footer#foot {
    background-color: #a9a9a9;
   
}


li.nav-item  {
    color: #ffffff;
}

strong {
    font-weight: bold;
}